@model BoardGameCompanyMVC.Models.InventoryItem
@{
    ViewData["Title"] = "Details Inventory Item";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Details Inventory Item</h2>
    </div>
</div>
<br />

<div class="border container" style="padding:30px;">
    <dl class="row">
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.BoardGame.Title)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.BoardGame.Title)
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.BoardGame.Brand.BrandName)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.BoardGame.Brand.BrandName)
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.InStock)
        </dt>
        <dd class="col-9">
            @(Model.InStock == true ? "Yes" : "No")
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.ReceivedNumber)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.ReceivedNumber)
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.OrderedDate)
        </dt>
        <dd class="col-9">
            @(Model.OrderedDate == null ? "null" : Model.OrderedDate)
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class="col-9">
            @(Model.OrderNumber == null ? "null" : Model.OrderNumber)
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd class="col-9">
            @(Model.ShippedDate == null ? "null" : Model.ShippedDate)
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.ShippingNumber)
        </dt>
        <dd class="col-9">
            @(Model.ShippingNumber == null ? "null" : Model.ShippingNumber)
        </dd>
    </dl>

    <div class="form-group row">
        <div class="col-3 offset-3">
            <a asp-action="Edit" asp-route-id="@Model.ID" type="button" class="btn btn-primary form-control">
                Edit
            </a>
        </div>
        <div class="col-3">
            <a asp-action="Index" type="button" class="btn btn-success form-control">
                Back To List
            </a>
        </div>
    </div>
</div>