@model BoardGameCompanyMVC.ViewModels.UserOrderConfirmationViewModel
@{
    ViewData["Title"] = "Order Confirmation";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0 pl-0" style="background-color:white;">
        <li class="breadcrumb-item"><a style="color:gray;" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Confirmation</li>
    </ol>
</nav>

<h1>THANK FOR YOUR ORDER!</h1>
<h3>Order #@Html.DisplayFor(model => model.UserOrder[0].OrderNumber)</h3>
<br/>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center">Cart Items</th>
            <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.UserOrder[0].BoardGame.Price)</th>
            <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.UserOrder[0].Quantity)</th>
            <th scope="col" class="text-right">Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserOrder)
        {
            var totalPrice = Math.Round((item.Quantity * item.PurchasedPrice), 2);

            <tr>
                <td>
                    <div class="row">
                        <div class="col-4 mr-2">
                            <img src="@item.BoardGame.ImageFilePath"
                                 alt="board game"
                                 width="50" />
                        </div>
                        <div class="col-7">
                            <div class="row">
                                @item.BoardGame.Brand.BrandName
                            </div>
                            <div class="row">
                                @item.BoardGame.Title
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    $@Html.DisplayFor(model => item.PurchasedPrice)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(model => item.Quantity)
                </td>
                <td class="text-right">
                    $@totalPrice
                </td>

            </tr>
        }
        <tr>
            <td colspan="4">
                <div class="row">
                    <div class="col-6"><strong>Subtotal:</strong></div>
                    <div class="col-6 text-right">$@Html.DisplayFor(model => model.UserCheckOutInput.SubTotal)</div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="row">
                    <div class="col-6"><strong>Shipping:</strong></div>
                    <div class="col-6 text-right">$@Html.DisplayFor(model => model.UserCheckOutInput.Shipping)</div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="row">
                    <div class="col-6"><strong>Tax:</strong></div>
                    <div class="col-6 text-right">$@Html.DisplayFor(model => model.UserCheckOutInput.Tax)</div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="row">
                    <div class="col-6"><strong>Grand total:</strong></div>
                    <div class="col-6 text-right"><strong>$@Html.DisplayFor(model => model.UserCheckOutInput.GrandTotal)</strong></div>
                </div>
            </td>
        </tr>

    </tbody>
</table>


