@model BoardGameCompanyMVC.Models.Headlines
@{
    ViewData["Title"] = "Edit Headlines";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Edit Headline for 
        @*@Model.BoardGame.Title*@
        </h2>
    </div>
</div>
<br />

<div class="border container" style="padding:30px;">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="@Model.ID" />
        <input type="hidden" asp-for="@Model.BoardGameID" />
        <input type="hidden" asp-for="@Model.ImageFilePath" />

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.IsActive"></label>
            </div>
            <div class="col-6">
                <input asp-for="@Model.IsActive" class="form-control" />
                <div class="invalid-feedback" style="display:block;">
                    <span asp-validation-for="@Model.IsActive" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label>Image</label>
            </div>
            <div class="col-6">
                <div class="custom-file">
                    <input asp-for="@Model.FormFileUpload" type="file" class="custom-file-input" id="customFile" />
                    <label class="custom-file-label" for="customFile">Choose File</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Edit" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
